* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f5f5f5;
}

/* CONTAINER */
.container {
    width: 100%;
    min-height: 100vh; /* corrigido */
    display: flex;
}

/* LADO ESQUERDO */
.left {
    width: 50%;
    background: #0e5f38;
    color: white;
    padding: 60px;
}

.logo {
    width: 130px;
    margin-bottom: 40px;
}

.left h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.left .sub {
    color: #d4e9db;
    margin-bottom: 30px;
    font-size: 18px;
}

.left ul {
    margin-top: 20px;
    list-style-position: inside;
}

.left ul li {
    margin-bottom: 15px;
    font-size: 18px;
}

.left img{
    width: 10%;
    margin-top: 6px;
}

/* LADO DIREITO */
.right {
    width: 50%;
    background: #1c1c1c;
    color: white;
    padding: 60px;
    overflow-y: auto; /* corrigido */
}

.right h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.right .sub {
    font-size: 16px;
    color: #bbbbbb;
    margin-bottom: 30px;
}

/* INPUTS */
.input-group {
    display: flex;
    flex-wrap: wrap; /* corrigido */
    gap: 20px;
    margin-bottom: 20px;
}

.input-box {
    width: 48%; /* melhor ajuste */
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #2b2b2b;
    color: white;
}

input:focus {
    outline: 2px solid #3ab57d;
}

/* GÊNERO */
.gender-label {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

.gender {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
}

/* BOTÃO */
.btn {
    width: 100%;
    padding: 12px;
    background: #0e5f38;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn:hover {
    background: #0b4a2b;
}

/* LOGIN */
.login {
    text-align: center;
}

.login a {
    color: #3ab57d;
}

/* RESPONSIVO (BONUS 🔥) */
@media (max-width: 900px) {
    .container {
        flex-direction: column;
    }

    .left,
    .right {
        width: 100%;
    }

    .input-box {
        width: 100%;
    }
}

.error-box {
    background: #2a0f0f;          /* fundo escuro */
    border: 1px solid #ff4d4d;    /* borda vermelha */
    color: #ffffff;               /* texto vermelho */
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 14px;
}

.error-box p {
    margin: 5px 0;
}