# Ambiente virtual
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Banco local
db.sqlite3

# Variáveis de ambiente
.env

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Node (caso use no futuro)
node_modules/