{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro Cliente</title>
    <link rel="stylesheet" href="{% static 'css/cadastro-client.css' %}">
</head>
<body>

<div class="container">
    <div class="left"></div>

    <div class="right">
        <h2>Cadastro Cliente</h2>

        <div class="campo">
            <input type="text" placeholder="id">
        </div>

        <div class="campo">
            <input type="text" placeholder="Nome">
        </div>

        <div class="campo">
            <input type="text" placeholder="telefone">
        </div>

        <div class="campo">
            <input type="email" placeholder="E-mail">
        </div>

        <button>Continuar</button>
    </div>
</div>

</body>
</html>