{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro Cliente</title>
    <link rel="stylesheet" href="{% static 'css/cadastro_client.css' %}">
      <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/png">
</head>
<body>

<div class="container">
    <div class="left"></div>

    <div class="right">
        <h2>Cadastro Cliente</h2>

        <form method="POST">

            {% csrf_token %}

            <div class="campo">
                <input type="text"
                       name="first_name"
                       placeholder="Nome"
                       required>
            </div>

            <div class="campo">
                <input type="text"
                       name="last_name"
                       placeholder="Sobrenome"
                       required>
            </div>

            <div class="campo">
                <input type="text"
                       name="phone"
                       placeholder="Telefone"
                       required>
            </div>

            <!-- MENSALIDADE -->
            <div class="campo">
                <input type="number"
                       name="monthly_fee"
                       placeholder="Mensalidade"
                       step="0.01"
                       required>
            </div>

            <!-- GÊNERO COM SELECT -->
            <div class="campo">
                <select name="gender" required>

                    <option value="">
                        Selecione o gênero
                    </option>

                    <option value="M">
                        Masculino
                    </option>

                    <option value="F">
                        Feminino
                    </option>

                    <option value="O">
                        Outro
                    </option>

                </select>
            </div>

            <!-- DATA DE VENCIMENTO -->
            <div class="campo">
                <input type="date"
                       name="due_date"
                       required>
            </div>

            <button type="submit">
                Continuar
            </button>

        </form>

    </div>
</div>

</body>
</html>