{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro Cliente</title>

    <!-- Fonte -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

    <!-- Ícones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/cadastro_client.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/png">
</head>
<body>

    <!-- BOTÃO HOME -->
    <a href="/" class="btn-home-global">
        <i class="fa-solid fa-house"></i>
    </a>

    <div class="container">

        <!-- LADO ESQUERDO (LOGO) -->
        <div class="left">
            <img src="{% static 'img/logosemfundo.png' %}" class="logo">
        </div>

        <!-- LADO DIREITO -->
        <div class="right">
            <h2>Cadastro Cliente</h2>

            <form method="POST">
                {% csrf_token %}

                <div class="campo">
                    <input type="text" name="first_name" placeholder="Nome" required>
                </div>

                <div class="campo">
                    <input type="text" name="last_name" placeholder="Sobrenome" required>
                </div>

                <div class="campo">
                    <input type="text" name="phone" placeholder="Telefone" required>
                </div>

                <div class="campo">
                    <input type="number" name="monthly_fee" placeholder="Mensalidade" step="0.01" required>
                </div>

                <div class="campo">
                    <select name="gender" required>
                        <option value="">Selecione o gênero</option>
                        <option value="M">Masculino</option>
                        <option value="F">Feminino</option>
                        <option value="O">Outro</option>
                    </select>
                </div>

                <div class="campo">
                    <input type="date" name="due_date" required>
                </div>

                <button type="submit">Continuar</button>
            </form>
        </div>
    </div>

</body>
</html>