{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Excluir Cliente</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/delete_client.css' %}">
</head>

<body>

<div class="container">

    <!-- LADO ESQUERDO COM LOGO -->
    <div class="left">
        <img src="{% static 'img/logosemfundo.png' %}" class="logo">
    </div>

    <!-- LADO DIREITO -->
    <div class="right">

        <h2>Confirmar Exclusão</h2>

        <p class="warning">
            Tem certeza que deseja excluir o cliente:
        </p>

        <div class="client-box">
            <strong>
                {{ client.first_name }} {{ client.last_name }}
            </strong>
            <p>ID: {{ client.id }}</p>
        </div>

        <form method="POST">
            {% csrf_token %}

            <button type="submit" class="delete">
                Confirmar Exclusão
            </button>

            <a href="{% url 'list_clients' %}" class="cancel">
                Cancelar
            </a>
        </form>

    </div>

</div>

</body>
</html>