{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Excluir Cliente</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/exclusao-client.css' %}">
</head>
<body>

<div class="container">
    <div class="left"></div>

    <div class="right">
        <h2>Excluir Cliente</h2>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Ação</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <button class="delete" onclick="return confirm('Tem certeza que deseja excluir?')">
                            Excluir
                        </button>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <button class="delete" onclick="return confirm('Tem certeza que deseja excluir?')">
                            Excluir
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

</body>
</html>