{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Lista de Clientes</title>
<link rel="stylesheet" href="{% static 'css/list_client.css' %}">
<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/png">
</head>
<body>

<h2>Lista de Clientes</h2>

<table>

<tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Telefone</th>
    <th>Vencimento</th>
    <th>Status</th>
</tr>

{% for item in clients_status %}

<tr>

<td>
{{ item.client.id }}
</td>

<td>
{{ item.client.first_name }}
{{ item.client.last_name }}
</td>

<td>
{{ item.client.phone }}
</td>

<td>
{{ item.client.due_date }}
</td>

<td class="{{ item.status }}">

{% if item.status == "vencido" %}
🔴 Vencido

{% elif item.status == "vence_hoje" %}
🟡 Vence hoje

{% else %}
🟢 Em dia

{% endif %}

</td>

</tr>

{% endfor %}

</table>

</body>

</html>