{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Lista de Clientes</title>
    <link rel="stylesheet" href="{% static 'css/list_client.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/png">
</head>

<body>

    <h2>Lista de Clientes</h2>

    <a href="{% url 'home_client' %}" class="btn-home">
        ⬅ Voltar para Home
    </a>

    <table>

        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Vencimento</th>
            <th>Status</th>
            <th>Ações</th> <!-- NOVO -->
        </tr>

        {% for item in clients_status %}

        <tr>

            <td>
                {{ item.client.id }}
            </td>

            <td>
                {{ item.client.first_name }}
                {{ item.client.last_name }}
            </td>

            <td>
                {{ item.client.phone }}
            </td>

            <td>
                {{ item.client.due_date }}
            </td>

            <td class="{{ item.status }}">

                {% if item.status == "vencido" %}
                🔴 Vencido

                {% elif item.status == "vence_hoje" %}
                🟡 Vence hoje

                {% elif item.status == "vence_breve" %}
                🟠 Vence em breve

                {% else %}
                🟢 Em dia

                {% endif %}

            </td>

            <!-- NOVA COLUNA -->
            <td>

                <a href="{% url 'update_client' item.client.id %}">
                    ✏️ Editar
                </a>

                <br>

                <a href="{% url 'delete_client' item.client.id %}">
                    🗑️ Excluir
                </a>
                <br>
                <a href="{% url 'send_whatsapp_client' item.client.id %}" class="btn-whatsapp">
                    📩 WhatsApp
                </a>

            </td>

        </tr>

        {% endfor %}

    </table>

</body>

</html>