{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <title>NextPay - Login</title>

    <link rel="stylesheet" href="{% static 'css/login_client.css' %}">
</head>
<body>

<div class="container">

    <!-- LADO ESQUERDO (igual cadastro) -->
    <div class="left">
        <h1>NextPay</h1>

        <h1>Bem-vindo de volta!</h1>

        <p class="sub">
            Acesse sua conta e gerencie suas cobranças com facilidade.
        </p>

        <ul>
            <li>Controle total dos seus clientes</li>
            <li>Acompanhe pagamentos</li>
            <li>Evite inadimplência</li>
        </ul>
    </div>

    <!-- LADO DIREITO -->
    <div class="right">
        <h2>Entrar na sua conta</h2>
        <p class="sub">Digite seus dados para acessar</p>

        <form method="POST">
            {% csrf_token %}

            <div class="input-group">

                <div class="input-box">
                    <label>E-mail</label>
                    <input type="email" name="email" placeholder="Digite seu email" required>
                </div>

                <div class="input-box">
                    <label>Senha</label>
                    <input type="password" name="password" placeholder="Digite sua senha" required>
                </div>

            </div>

            <button type="submit" class="btn">Entrar</button>

            <p class="login">
                Não tem conta? <a href="/cadastro/">Criar conta</a>
            </p>

        </form>
    </div>

</div>

</body>
</html>